.contenedor{
    background-color: #999;
    border: 10px;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    background-color: rgb(162, 166, 231);
    color: rgb(229, 231, 223);
    padding: 15px 20px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

textarea:focus,input:focus{
    background-color: rgb(174, 141, 236);
}

input[type="submit"]:hover{
    background-color: blueviolet;
}